.env
.env.*
!.env.local
!.env.example

__pycache__/
*.pyc
.venv/

.DS_Store

.idea/
.vscode/

postgres-data/

.image-tag
.image-tags


# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json